
.section-home{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}
.section-home h1{
    font-size: 1.6rem;
    font-weight: 500;
    margin: .3rem 0;
}
.section-home ul{
    display: flex;
    width: 30%;
    margin: 2rem auto;
    justify-content: space-between;
}
.section-home a{
    font-size: 1.2rem;
    transition: color .5s ease;
}
.section-home a:hover{
    color: rgb(119, 198, 224);
}